# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
output/seed0001.dcm
output/seed0001.png
output/seed0002.dcm
output/seed0002.png
output/seed0003.dcm
output/seed0003.png
output/seed0004.dcm
output/seed0004.png
output/seed0005.dcm
output/seed0005.png
output/seed0006.dcm
output/seed0006.png
output/seed0007.dcm
output/seed0007.png
output/seed0008.dcm
output/seed0008.png
output/seed0009.dcm
output/seed0009.png
output/seed0010.dcm
output/seed0010.png
output/seed0011.dcm
output/seed0011.png
output/seed0012.dcm
output/seed0012.png
output/seed0013.dcm
output/seed0013.png
output/seed0014.dcm
output/seed0014.png
output/seed0015.dcm
output/seed0015.png
output/seed0016.dcm
output/seed0016.png
output/seed0017.dcm
output/seed0017.png
output/seed0018.dcm
output/seed0018.png
output/seed0019.dcm
output/seed0019.png
output/seed0020.dcm
output/seed0020.png
output/seed0021.dcm
output/seed0021.png
output/seed0022.dcm
output/seed0022.png
output/seed0023.dcm
output/seed0023.png
output/seed0024.dcm
output/seed0024.png
output/seed0025.dcm
output/seed0025.png
output/seed0026.dcm
output/seed0026.png
output/seed0027.dcm
output/seed0027.png
output/seed0028.dcm
output/seed0028.png
output/seed0029.dcm
output/seed0029.png
output/seed0030.dcm
output/seed0030.png
output/seed0031.dcm
output/seed0031.png
output/seed0032.dcm
output/seed0032.png
output/seed0033.dcm
output/seed0033.png
output/seed0034.dcm
output/seed0034.png
output/seed0035.dcm
output/seed0035.png
output/seed0036.dcm
output/seed0036.png
output/seed0037.dcm
output/seed0037.png
output/seed0038.dcm
output/seed0038.png
output/seed0039.dcm
output/seed0039.png
output/seed0040.dcm
output/seed0040.png
output/seed0041.dcm
output/seed0041.png
output/seed0042.dcm
output/seed0042.png
output/seed0043.dcm
output/seed0043.png
output/seed0044.dcm
output/seed0044.png
output/seed0045.dcm
output/seed0045.png
output/seed0046.dcm
output/seed0046.png
output/seed0047.dcm
output/seed0047.png
output/seed0048.dcm
output/seed0048.png
output/seed0049.dcm
output/seed0049.png
output/seed0050.dcm
output/seed0050.png
output/seed0051.dcm
output/seed0051.png
output/seed0052.dcm
output/seed0052.png
output/seed0053.dcm
output/seed0053.png
output/seed0054.dcm
output/seed0054.png
output/seed0055.dcm
output/seed0055.png
output/seed0056.dcm
output/seed0056.png
output/seed0057.dcm
output/seed0057.png
output/seed0058.dcm
output/seed0058.png
output/seed0059.dcm
output/seed0059.png
output/seed0060.dcm
output/seed0060.png
output/seed0061.dcm
output/seed0061.png
output/seed0062.dcm
output/seed0062.png
output/seed0063.dcm
output/seed0063.png
output/seed0064.dcm
output/seed0064.png
output/seed0065.dcm
output/seed0065.png
output/seed0066.dcm
output/seed0066.png
output/seed0067.dcm
output/seed0067.png
output/seed0068.dcm
output/seed0068.png
output/seed0069.dcm
output/seed0069.png
output/seed0070.dcm
output/seed0070.png
output/seed0071.dcm
output/seed0071.png
output/seed0072.dcm
output/seed0072.png
output/seed0073.dcm
output/seed0073.png
output/seed0074.dcm
output/seed0074.png
output/seed0075.dcm
output/seed0075.png
output/seed0076.dcm
output/seed0076.png
output/seed0077.dcm
output/seed0077.png
output/seed0078.dcm
output/seed0078.png
output/seed0079.dcm
output/seed0079.png
output/seed0080.dcm
output/seed0080.png
output/seed0081.dcm
output/seed0081.png
output/seed0082.dcm
output/seed0082.png
output/seed0083.dcm
output/seed0083.png
output/seed0084.dcm
output/seed0084.png
output/seed0085.dcm
output/seed0085.png
output/seed0086.dcm
output/seed0086.png
output/seed0087.dcm
output/seed0087.png
output/seed0088.dcm
output/seed0088.png
output/seed0089.dcm
output/seed0089.png
output/seed0090.dcm
output/seed0090.png
output/seed0091.dcm
output/seed0091.png
output/seed0092.dcm
output/seed0092.png
output/seed0093.dcm
output/seed0093.png
output/seed0094.dcm
output/seed0094.png
output/seed0095.dcm
output/seed0095.png
output/seed0096.dcm
output/seed0096.png
output/seed0097.dcm
output/seed0097.png
output/seed0098.dcm
output/seed0098.png
output/seed0099.dcm
output/seed0099.png
output/seed0100.dcm
output/seed0100.png
